<!-- Thymeleaf-Template, welches vom InsurerListController aufgerufen wird -->
<!DOCTYPE HTML>
<!-- Namespace th auf Thymeleaf legen -->
<html prefix="th: http://www.thymeleaf.org">
    <head>
        <title>Liste registrierter Versicherer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Liste aller registrierten Versicherer</h1>
        <!-- Der Teil, welcher von ThymeLeaf mit Inhalt aus dem Model gefüllt wird -->
        <table th:object="${insurerer}">
            <tr th:each="insurer :${insurerer}">
                <td th:text="${insurer.getName()}"></td>
                <td th:text="${insurer.getAddress().getPlz() + ' ' + insurer.getAddress().getTown()}"></td>
            </tr>
        </table>
    </body>
</html>